body {
    margin: 0;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    background-color: white;
}

.banner {
    background: url(../images/Polygon\ 1.png) bottom repeat-x, url(../images/3px.png) center no-repeat;
    height: 78vh;
    text-align: center;
    padding-top: 10rem;
    background-size: 100px 30px, cover;
}

.banner-titulo {
    font-size: 4rem;
    width: 100%;
    color:white;
    height: 40px;
    
}

.banner-subtitulo {
    font-size: 1.8rem;
    color: white;
}

.btn {
    border-radius: 4rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color:white;
    
}

.btn-branco {
    color: #476335;
    background-color: white;
}

a {
    text-decoration: none;
}

.sobre-titulo {
    font-size: 4rem;
    color: #476335;
}

.sobre-descricao,
.sobre-habilidades {
    width: 45%;
    display: inline-block;
    list-style: 1;
}


.sobre-descricao-destaque,
.sobre-descricao-texto {
    font-size: 2rem;
    text-align: justify;
}

.sobre-habilidades-titulo {
    font-size: 1rem;
    background-color: #476335;
    color: white;
    font-size: 20px;
}



.u-margin-bottom-peq {
    margin-bottom: 2rem;
}

.btn-roxo {
    color: #476335;
    border: 1px solid #476335;
    padding: 1rem;
    min-height: 50em;
    display: table-cell;
    vertical-align: middle

}

.sobre-habilidades-lista {
    padding-left: 3rem;
    line-height: 2;
    font-size: 1.6rem;
}

html {
    font-size: 10px;
    /* faz o reset do rem */
}

h2{
    height: 0px;
    
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 10rem;
}

.sobre-padding-left {
    padding-left: 10rem;
}

.footer {
    text-align: center;
}

/* .redes-sociais{

} */

.redes-sociais-link {
    display: inline-block;
    width: 170px;
    background-color: #476335;
    padding: 2rem 0;
    margin: 0 1rem;
    text-align: center;
    color: rgb(202, 248, 192);
    border: 2px solid rgb(35, 65, 47);
}

.footer-display {
    display: flex;
    justify-content: space-between;
}

.footer-copy-texto{
    text-align: center;
    color:rgb(65, 65, 65)

}